/* Header.css */

.navbar-brand {
  color: #ff6c28;
  font-size: 25px;
  font-weight: 700;
}

.navbar-brand:hover {
  text-decoration: none;
}

.navbar-nav .nav-link {
  color: #fff !important;
  margin-left: 10px;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  color: #ff6c28 !important;
  text-decoration: none;
}
